* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: bisque;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-bottom: 0.5rem;
}

.inputrow {
  background-color: mediumslateblue;
}

.heading-align {
  background-color: transparent;
}

body {
  height: 100vh;
  background: purple;
  background: linear-gradient(225deg, rgb(53, 14, 115) 0%, purple 87%);
  background-size: contain;
}

table {
  border-collapse: collapse;
  margin: auto;
  min-width: 400px;
  /* border: 1px red solid; */
}

.main {
  margin-left: auto;
  margin-top: 2%;
  min-width: 400px;
  width: inherit;
  /* border: 1px red solid; */
}

th {
  padding: 3px;
}

.tableheadings {
  background-color: darkslateblue;
}

tr {
  background-color: cornflowerblue;
  border-bottom: 1px solid darkblue;
}

td {
  text-align: center;
  padding: 10px;
}

.edit {
  background-color: orange;
  color: bisque;
  border: 0px;
  padding: 3px;
  border-radius: 2px;
}

.button {
  color: bisque;
  border: 0px;
  padding: 3px;
  border-radius: 5px;
  font-weight: 600;
}

.delete {
  background-color: palevioletred;
}

.hidden {
  display: hidden;
}

.inputfield {
  border-radius: 5px;
  text-indent: 10px;
  font-size: 16px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

.complete {
  background-color: mediumpurple;
}

.not-complete {
  background-color: palevioletred;
}

.submit {
  background-color: cornflowerblue;
}
